.App {
  font-family: sans-serif;
  text-align: center;
}

.Default-Font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.textfield__color {
  background-color: white !important;
}
